/.CardSeniorsMatch.java._trace
/.CardSeniorsMatcher.java._trace
/.CardSeniorsOfColorSeniorMatch.java._trace
/.CardSeniorsOfColorSeniorMatcher.java._trace
/.ColorsMatch.java._trace
/.ColorsMatcher.java._trace
/.FreshmanCampQueries.java._trace
/CardSeniorsMatch.java
/CardSeniorsMatcher.java
/CardSeniorsOfColorSeniorMatch.java
/CardSeniorsOfColorSeniorMatcher.java
/ColorsMatch.java
/ColorsMatcher.java
/FreshmanCampQueries.java
/.FreshmanCamp.java._trace
/.CardSeniorsStartedIn2014Match.java._trace
/.CardSeniorsStartedIn2014Matcher.java._trace
