policy Example deny RW by default {
	
	rule permitControl allow RW to HCEngineer {
		query objectControls
	} with 1 priority
	
	rule viewSignal allow R to HCEngineer {
		query objectignals
	} with 3 priority
	
} with restrictive resolution