<?xml version="1.0" encoding="windows-1250"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/policy/Rules"
			class = "org.xtext.policy.rules.RulesPackage"
			genModel = "model/generated/Rules.genmodel" />
	</extension>
</plugin>
