/.CardSeniorsOfColorSeniorProcessor.java._trace
/.CardSeniorsOfColorSeniorQuerySpecification.java._trace
/.CardSeniorsProcessor.java._trace
/.CardSeniorsQuerySpecification.java._trace
/.ColorsProcessor.java._trace
/.ColorsQuerySpecification.java._trace
/CardSeniorsOfColorSeniorProcessor.java
/CardSeniorsOfColorSeniorQuerySpecification.java
/CardSeniorsProcessor.java
/CardSeniorsQuerySpecification.java
/ColorsProcessor.java
/ColorsQuerySpecification.java
