user Karesz
user Kitty
user Luca
user Timi
user Nur

group BlueSeniors {Karesz, Kitty, Luca, Timi, Nur}

policy Camp deny RW by default {
	rule cardsOfColorBlue allow RW to Nur {
		select obj(cardSenior)
		from query "cardSeniorsOfColorSenior"
		where colorSenior bound to Nur
	}
}