<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="freshmancamp.FreshmanCamp" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:freshmancamp.FreshmanCamp" id="freshmancamp.FreshmanCamp">
      <query-specification fqn="freshmancamp.colors"/>
      <query-specification fqn="freshmancamp.cardSeniors"/>
      <query-specification fqn="freshmancamp.cardSeniorsOfColorSenior"/>
      <query-specification fqn="freshmancamp.cardSeniorsStartedIn2014"/>
      <query-specification fqn="freshmancamp.roomSeniors"/>
    </group>
  </extension>
</plugin>
